## 1.Предобработка данных

#### Импорт необходимых библиотек:

In [49]:
import numpy as np
import pandas as pd

### Загрузка данных:

In [50]:
TRAIN_PATH = 'train.csv'
TEST_PATH = 'test.csv'

In [51]:
df = pd.read_csv(TRAIN_PATH)
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [52]:
df.shape

(10000, 20)

### Приведение типов данных:

In [53]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

#### Для красоты первичного анализа сделаем признаки Rooms, Floor, HouseFloor целыми

In [54]:
df['Rooms'] = df['Rooms'].astype('int64')

In [55]:
df['Floor'] = df['Floor'].astype('int64')

In [56]:
df['HouseFloor'] = df['HouseFloor'].astype('int64')

### Обзор количественных переменных:

In [57]:
df_num_features = df.select_dtypes(include=['float64', 'int64'])
df_num_features.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,14038,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,33,7976,5,NaN,0,11,184966.930730
1,15053,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,46,10309,1,240.0,1,16,300009.450063
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,34,7759,0,229.0,1,3,220925.908524
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,23,5735,3,1084.0,0,5,175616.227217
4,10783,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,35,5776,1,2078.0,2,4,150226.531644

In [58]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

### Обзор номинативных переменных:

In [59]:
df_obj_features = df.select_dtypes(include='object')
df_obj_features.head()

  Ecology_2 Ecology_3 Shops_2
0         B         B       B
1         B         B       B
2         B         B       B
3         B         B       B
4         B         B       B

In [60]:
df.describe(include=['object'])

       Ecology_2 Ecology_3 Shops_2
count      10000     10000   10000
unique         2         2       2
top            B         B       B
freq        9903      9725    9175

#### Посмотрим соотношения категорий

In [61]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [62]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [63]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

#### Районы данных по которым больше всего и их распределения в датасете

In [64]:
df['DistrictId'].value_counts(normalize=True).head()

27    0.0851
1     0.0652
23    0.0565
6     0.0511
9     0.0294
Name: DistrictId, dtype: float64

#### Средние значения Price по Ecology_2

In [65]:
df[df['Ecology_2'] == 'A']['Price'].mean()

193139.71700581786

In [66]:
df[df['Ecology_2'] == 'B']['Price'].mean()

214344.5442227426

#### Средние значения Price по Ecology_3

In [67]:
df[df['Ecology_3'] == 'A']['Price'].mean()

243179.56070442655

In [68]:
df[df['Ecology_3'] == 'B']['Price'].mean()

213317.654991637

#### Средние значения Price по Shops_2

In [69]:
df[df['Shops_2'] == 'A']['Price'].mean()

192339.700512921

In [70]:
df[df['Shops_2'] == 'B']['Price'].mean()

216098.9995710331

### Обработка пропусков:

In [71]:
len(df) - df.count()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

#### LifeSquare

Замена всех null значений LifeSquare медианными значениями LifeSquare с учетом количества комнат.

In [72]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 2), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 3), 'LifeSquare'] = df.loc[df['Rooms'] == 3,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 4), 'LifeSquare'] = df.loc[df['Rooms'] == 4,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 5), 'LifeSquare'] = df.loc[df['Rooms'] == 5,'LifeSquare'].median()

In [73]:
df[df['LifeSquare'].isnull()]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2269,7317,27,0,41.790881,NaN,0.0,13,0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0,49.483501,NaN,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,NaN,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112

Остаются значения с нулевыми значениями количества комнат. Ставим в них значения медианы LifeSquare для 2 комнат т.к. это значение выше 75 процентиля.

In [74]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 0), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median()

Убеждаемся в отсутствии null значений LifeSquare

In [75]:
df[df['LifeSquare'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Healthcare_1

Замена null значений Healthcare_1 на медианные значения

In [76]:
df.loc[df['Healthcare_1'].isnull(), 'Healthcare_1'] = df['Healthcare_1'].median()

Убеждаемся в отсутствии null значений Healthcare_1

In [77]:
df[df['Healthcare_1'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

### Обработка выбросов:

In [78]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.866626,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.758444,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,21.906744,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.552134,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,44.407075,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#### Rooms:

In [79]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
2269,7317,27,0,41.790881,32.552134,0.0,13,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,98129.976788
3911,770,28,0,49.483501,32.552134,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,32.552134,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6149,3159,88,0,38.697117,19.345131,9.0,9,16,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
8834,9443,27,0,87.762616,85.125471,0.0,5,15,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,219281.918007

#### Заполним нулевые значения комнат значениями комнат по медиане площадей

In [85]:
df.loc[(df['Rooms'] == 0) & (df['Square'] <= df.loc[df['Rooms'] == 1,'Square'].median()), 'Rooms'] = 1
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 1,'Square'].median()) & 
       (df['Square'] <= df.loc[df['Rooms'] == 2,'Square'].median()), 'Rooms'] = 2
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 2,'Square'].median()) &
       (df['Square'] <= df.loc[df['Rooms'] == 3,'Square'].median()), 'Rooms'] = 3
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 3,'Square'].median()) &
       (df['Square'] <= df.loc[df['Rooms'] == 4,'Square'].median()), 'Rooms'] = 4

In [86]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887

#### Остались два значения с площадями больше медианных для 4 комнат. Зададим им значение Rooms = 5

In [89]:
df.loc[(df['Rooms'] == 0), 'Rooms'] = 5

Убеждаемся в отсутствии null значений Rooms

In [90]:
df[df['Rooms'] < 1]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Square:

In [92]:
df[(df['Square'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1316,11526,27,1,4.633498,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1608,10202,6,1,2.596351,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1,4.380726,40.805837,1.0,10,17,2013,0.211401,B,B,9,1892,0,900.0,0,1,B,97560.720383
3413,9487,5,1,5.129222,5.549458,1.0,1,1,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
4853,3224,27,1,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6392,14786,1,1,1.136859,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
8283,15744,34,1,1.988943,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
9294,6782,45,1,2.954309,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9613,7657,38,1,4.502784,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

#### Замена значений Square менее 10 квадратов в однокомнатной квартире на медианные значения в однокомнатной квартире

Учитываем количество комнат и год постройки

In [99]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'Square'].median()

In [101]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2013), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2013),'Square'].median()

In [102]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2014), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2014),'Square'].median()

Смотрим есть ли еще квартиры с площадью менее 10 квадратов

In [111]:
df[df['Square'] < 10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

Такие значения еще есть и это 2 и 3 комнатные квартиры

#### Медианные значения для 2 и 3 комнатных квартир

In [113]:
df.loc[(df['Rooms'] == 2) ,'Square'].median()

55.83354322674675

In [114]:
df.loc[(df['Rooms'] == 3) ,'Square'].median()

77.41364294803941

Возьмем значения заведомо меньшие медианных для 2 и 3 комнатных квартир и заменим их на медианные аналогично 1 комнатным квартирам (с учетом года)

In [122]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
6945,12927,62,2,17.414181,32.552134,1.0,4,20,1977,0.072158,B,B,2,629,1,900.0,0,0,A,180750.471749

In [123]:
df.loc[(df['Square'] < 25) & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'Square'].median()

In [125]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4739,12676,81,3,13.784865,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5617,15877,57,3,16.547242,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

In [126]:
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1960), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1960),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1962), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1962),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'Square'].median()

Убедимся, что таких квартир больше нет

In [127]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [128]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### LifeSquare:

Смотрим есть ли однокомнатные квартиры с LifeSquare менее 10

In [129]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
160,3522,6,1,66.419841,3.987101,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,193361.229815
270,15215,17,1,46.692974,5.941401,1.0,7,1,2015,0.000000,B,B,18,3374,5,620.0,1,2,B,212290.684086
363,15751,9,1,44.171793,1.251846,1.0,11,18,2017,0.161532,B,B,25,5648,1,30.0,2,4,B,134910.715588
477,8849,45,1,63.419553,2.286357,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,325600.765809
527,2141,56,1,53.733677,4.323046,1.0,24,1,2015,0.000000,B,B,23,5067,4,900.0,2,6,B,208773.977243
674,10631,88,1,42.571618,1.941521,1.0,6,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,130374.241595
695,1867,30,1,54.626206,4.651397,1.0,4,3,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,87456.520038
707,4345,62,1,49.275155,1.377284,1.0,5,1,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135353.885620
734,4319,62,1,51.815214,4.203073,1.0,6,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,137880.620962
765,7060,27,1,38.651043,5.822657,1.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,103210.010325
850,2470,6,1,43.312025,1.404493,1.0,11,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,128588.741321
1169,14866,6,1,38.818170,5.927865,1.0,18,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,131405.866884
1175,3527,9,1,72.035396,2.358992,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,191744.615408
1214,6366,6,1,47.804946,2.553024,1.0,6,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,133552.372112
1316,11526,27,1,42.600398,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1410,1843,74,1,49.635712,3.411048,1.0,4,1,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,146838.036852
1504,2967,1,1,62.494611,3.489694,0.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,193568.854208
1608,10202,6,1,42.466813,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
1673,12335,9,1,60.022123,2.858369,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,176731.431750
1800,13113,27,1,37.805231,2.228592,11.0,6,0,2015,0.017647,B,B,2,469,0,900.0,0,0,B,137402.092529
1918,13603,63,1,127.651237,2.609712,1.0,8,17,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,594565.299770
2224,3746,62,1,46.722042,1.944446,1.0,11,12,2018,0.072158,B,B,2,629,1,900.0,0,0,A,133721.121715
2309,10285,30,1,32.271741,3.386009,1.0,4,19,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,105921.018210
2418,5989,6,1,39.251773,2.981582,1.0,17,25,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,136206.666782
2430,1317,6,1,51.460538,4.763693,1.0,25,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,142065.034795
2665,8997,74,1,43.227719,1.726270,1.0,9,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,154565.271940
2842,3142,6,1,39.145322,4.083905,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,116981.443099
2860,12542,1,1,44.204418,1.789086,1.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,160181.048031
2898,5497,58,1,37.686426,4.977769,1.0,2,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,72950.870871
2906,10404,6,1,43.613432,3.668460,1.0,3,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,128710.472293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,11328,74,1,40.302458,4.736100,1.0,18,17,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,162016.371387
6047,10229,1,1,45.642858,2.072088,1.0,16,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,157681.026389
6392,14786,1,1,42.600398,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
6517,2398,62,1,50.022583,1.538058,1.0,14,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,130720.196859
6609,13491,0,1,38.178277,0.370619,0.0,19,17,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,105134.286994
7028,13440,6,1,78.432890,4.044174,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,222826.758816
7045,15209,83,1,41.527079,2.077811,1.0,17,1,1977,0.007720,B,B,38,4788,2,900.0,0,4,B,214393.174037
7056,5575,27,1,41.941912,4.437475,0.0,10,0,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,113350.022423
7068,15346,30,1,37.387578,4.699898,1.0,14,22,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,109553.129485
7221,5306,96,1,49.462997,1.417155,1.0,8,15,2016,0.041116,B,B,53,14892,4,900.0,1,4,B,119791.098164
7452,8626,1,1,47.195748,1.168791,1.0,19,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,170718.296542
7719,10079,59,1,48.232741,3.288779,1.0,15,17,2017,0.019509,B,B,37,7687,11,176.0,5,5,B,207086.637307
7756,1680,58,1,47.889736,3.605019,1.0,3,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,122731.005950
7767,6927,21,1,16.117154,8.822988,0.0,2,5,1965,0.194489,B,B,47,8004,3,125.0,3,5,B,79913.267856
8065,7669,34,1,43.873302,1.973848,1.0,13,17,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,204863.503174
8220,8194,30,1,42.065862,5.624248,1.0,13,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,126976.982021
8283,15744,34,1,42.600398,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
8452,14380,58,1,40.525820,4.174627,1.0,16,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,116642.983817
8715,1936,74,1,53.835574,1.185864,0.0,7,7,2018,0.075779,B,B,6,1437,3,900.0,0,2,B,185976.351147
8886,2056,9,1,47.301790,5.125908,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,138880.254465
8908,10684,22,1,41.872590,2.347250,1.0,3,1,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,136609.809831
9177,13951,45,1,39.225914,2.372105,1.0,24,24,2017,0.195781,B,B,23,5212,6,900.0,3,2,B,271893.118572
9192,1754,6,1,61.978423,3.943299,1.0,1,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,177116.339701
9294,6782,45,1,42.600398,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9299,8687,48,1,42.840915,2.608669,1.0,19,17,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,236378.466217
9396,3745,30,1,42.457169,3.259832,1.0,10,25,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B,155348.833619
9576,7389,23,1,52.028804,4.295819,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9613,7657,38,1,42.600398,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9813,2040,62,1,122.438148,5.751401,1.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,224900.897679
9888,6053,6,1,41.314775,5.005477,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,159149.515475

Заменяем LifeSquare медианным значением для однокомнатных квартир

In [132]:
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [133]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Проделываем тоже самое для 2 и 3 комнатных квартир

In [134]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
95,4280,34,2,61.334968,4.091945,1.0,26,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,286564.441972
134,12613,6,2,65.496674,5.589324,1.0,5,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,180727.643541
279,8727,1,2,79.521221,4.634049,1.0,5,1,2017,0.007122,B,B,1,264,0,900.0,0,1,B,232726.628137
475,6333,27,2,64.049695,4.008230,1.0,5,5,2017,0.017647,B,B,2,469,0,900.0,0,0,B,189477.560210
560,8149,6,2,71.904226,4.171094,1.0,9,25,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,184050.456761
683,15091,27,2,66.535842,1.638083,1.0,6,1,1977,0.017647,B,B,2,469,0,900.0,0,0,B,175067.233991
882,1250,53,2,56.290825,5.142822,1.0,2,19,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,294282.721375
1215,6189,53,2,58.896686,5.735331,1.0,18,19,2014,0.049637,B,B,34,7759,0,229.0,1,3,B,286784.105825
1526,16559,75,2,60.610730,17.225296,5.0,5,5,1964,0.122090,B,B,29,6566,7,1894.0,4,0,B,118900.634813
1580,363,27,2,59.715762,1.595943,0.0,2,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,189331.645263
1593,9418,9,2,66.942469,5.948864,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,183976.840021
1827,16176,6,2,64.998310,1.974968,1.0,13,17,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,175065.504600
2313,5718,9,2,60.231529,2.730297,1.0,16,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,189988.834380
2350,3799,123,2,47.234446,19.363580,6.0,2,12,1980,0.000000,B,B,47,11319,0,1145.0,3,5,B,153924.162352
2403,15075,54,2,81.220434,3.289115,1.0,12,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,437452.971467
2455,12347,1,2,62.591303,4.775790,1.0,8,6,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,171878.679677
2713,5830,23,2,56.809859,4.037187,1.0,3,4,2015,0.034656,B,B,0,168,0,900.0,0,0,B,124695.921792
2828,6982,25,2,57.803236,5.061446,1.0,24,1,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,318660.439621
2887,15402,27,2,58.521098,1.049867,1.0,4,17,2014,0.072158,B,B,2,629,1,900.0,0,0,A,142393.084641
3072,1388,54,2,74.747303,1.411101,1.0,7,22,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,431137.951634
3158,2309,6,2,61.547028,4.660610,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,173732.138747
3298,9955,6,2,64.083268,1.894269,1.0,2,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,187599.924231
3299,15760,34,2,65.235395,4.362005,1.0,8,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,336951.628930
3487,1057,27,2,54.755388,5.662233,1.0,12,17,2018,0.011654,B,B,4,915,0,900.0,0,0,B,150281.357110
3601,2108,48,2,61.136113,4.289714,1.0,23,1,2016,0.041125,B,B,46,9515,5,900.0,1,10,B,326425.621924
3730,12049,1,2,61.541353,1.242250,1.0,20,22,2014,0.007122,B,B,1,264,0,900.0,0,1,B,206168.319222
4037,5762,27,2,67.983723,1.471491,1.0,8,1,2019,0.211401,B,B,9,1892,0,900.0,0,1,B,152932.624905
4223,6196,1,2,55.828425,5.066533,1.0,9,1,2019,0.007122,B,B,1,264,0,900.0,0,1,B,183136.340415
4357,9634,27,2,60.844243,2.523987,1.0,17,17,2016,0.072158,B,B,2,629,1,900.0,0,0,A,212589.707437
4387,6318,6,2,75.994434,3.512299,1.0,22,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,190746.651322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6123,14658,6,2,62.000239,3.428437,1.0,12,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,185230.373774
6178,740,9,2,66.542124,3.435682,1.0,2,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,181423.633875
6206,1444,30,2,66.217931,2.281565,1.0,17,17,2015,0.000078,B,B,22,6398,141,1046.0,3,23,B,153639.846840
6354,10930,9,2,65.568381,1.150046,1.0,6,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187858.706484
6514,6237,6,2,68.495636,3.064164,1.0,6,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,178486.385759
6542,15883,23,2,64.473190,2.452816,1.0,6,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,181679.665945
6612,8199,9,2,67.981161,5.164391,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,205998.194897
7059,464,25,2,66.012592,3.529646,1.0,15,25,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,252748.663126
7139,8044,45,2,62.777104,1.141118,1.0,10,17,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,332118.521912
7159,6970,27,2,65.845103,2.014454,1.0,9,17,2015,0.072158,B,B,2,629,1,900.0,0,0,A,229921.804972
7370,12066,27,2,64.982383,4.479819,1.0,2,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194049.949036
7384,12245,23,2,67.032994,1.139667,1.0,3,17,1977,0.034656,B,B,0,168,0,900.0,0,0,B,185006.418232
7404,4773,75,2,68.088569,3.533997,1.0,8,1,2015,0.122090,B,B,29,6566,7,1894.0,4,0,B,311242.425922
8012,5561,27,2,58.161484,5.815532,1.0,12,12,1977,0.011654,B,B,4,915,0,900.0,0,0,B,138905.568311
8129,16501,22,2,64.186016,2.484378,1.0,10,10,2017,0.118537,B,B,30,6207,1,1183.0,1,0,B,187799.877054
8475,5803,6,2,64.682905,4.164726,1.0,12,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,186246.253542
8561,12503,6,2,74.273400,5.615401,1.0,12,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,188118.364308
8601,467,9,2,45.924840,2.907493,1.0,10,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,124016.667294
8615,6814,52,2,66.544692,2.179808,1.0,2,17,2018,0.371149,B,B,34,7065,1,750.0,2,5,B,183784.694445
8855,4512,9,2,64.977910,5.768457,1.0,11,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,194036.364634
8882,14112,23,2,53.043172,4.855507,1.0,4,1,1977,0.034656,B,B,0,168,0,900.0,0,0,B,89801.732879
8906,4682,7,2,43.860149,11.321071,7.0,6,12,1969,0.035145,B,B,42,9292,3,2620.0,0,3,B,235924.134145
8971,6749,23,2,65.204976,2.467002,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,167560.543204
8973,14254,27,2,73.275697,2.861966,1.0,2,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171980.001444
9264,5458,9,2,62.920673,1.591420,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,180234.142008
9291,15165,74,2,83.259565,5.387263,1.0,12,1,2017,0.309479,B,B,35,7715,4,990.0,0,6,B,260852.230977
9316,15449,6,2,62.548496,3.645893,1.0,16,25,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,191217.348124
9602,5112,6,2,63.591740,0.795539,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061
9748,14053,27,2,56.564445,2.616535,1.0,7,12,2015,0.011654,B,B,4,915,0,900.0,0,0,B,141086.005616
9756,13583,27,2,58.943039,3.319486,1.0,11,17,2017,0.011654,B,B,4,915,0,900.0,0,0,B,142789.948977

In [137]:
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1931), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1931),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1964), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1964),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1969), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1969),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1973), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1973),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1980), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1980),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2005), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2005),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2006), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2006),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [138]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [139]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3,106.958871,0.641822,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
158,16779,27,3,51.991064,4.896202,1.0,22,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,174687.566186
655,34,6,3,78.380053,4.003157,1.0,23,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,206647.245666
751,11989,62,3,104.446306,1.451067,1.0,12,15,2015,0.072158,B,B,2,629,1,900.0,0,0,A,223692.672480
1609,14969,9,3,86.802396,5.419928,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,238084.208302
1731,2239,6,3,82.882978,3.977650,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,219945.304640
1738,2186,27,3,81.380553,4.337395,1.0,13,25,2015,0.072158,B,B,2,629,1,900.0,0,0,A,196743.389597
2142,15261,22,3,83.162217,1.318250,1.0,8,1,2018,0.118537,B,B,30,6207,1,1183.0,1,0,B,391390.261824
2848,7838,48,3,86.059789,3.434851,1.0,27,1,2015,0.041125,B,B,46,9515,5,900.0,1,10,B,467773.389759
2870,16150,34,3,83.590446,4.030483,1.0,16,1,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,315641.205620
2957,11956,62,3,86.221496,3.032334,1.0,3,15,2017,0.072158,B,B,2,629,1,900.0,0,0,A,167544.244106
3428,8553,88,3,83.262530,4.769174,1.0,13,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,410883.892020
3547,14398,54,3,113.329819,5.949812,1.0,10,1,2014,0.006076,B,B,30,5285,0,645.0,6,6,B,585031.267181
4514,4680,54,3,107.558419,4.110708,1.0,13,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,577122.841727
4661,7305,30,3,70.193071,4.090415,1.0,4,1,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,108658.694240
4739,12676,81,3,76.679370,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,83.246030,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5540,11412,27,3,88.934210,1.819834,0.0,8,12,1977,0.072158,B,B,2,629,1,900.0,0,0,A,219463.505244
5617,15877,57,3,59.631940,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
5624,7558,9,3,80.288136,1.297030,1.0,14,18,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,254966.798112
6765,14511,59,3,91.948656,4.575279,1.0,15,20,2014,0.019509,B,B,37,7687,11,176.0,5,5,B,451714.464410
6797,521,23,3,73.456283,4.933256,1.0,3,1,2019,0.005767,B,B,1,388,0,900.0,0,0,B,109087.023700
6932,16539,9,3,73.639918,5.565903,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,220109.387427
7048,10423,6,3,83.184700,5.226210,1.0,7,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,212195.019570
7314,5882,6,3,78.105126,2.361873,1.0,2,1,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,221807.112568
7647,7627,58,3,82.535096,1.626501,1.0,16,17,2016,0.437885,B,B,23,5735,3,1084.0,0,5,B,218975.318679
7926,12133,6,3,79.056088,5.144151,1.0,10,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,209843.057259
8061,4941,6,3,83.190541,3.666085,1.0,15,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,221683.641204
8148,3052,1,3,31.113950,19.799743,6.0,6,5,1975,0.014581,B,B,3,760,1,900.0,0,0,B,114756.610121
8332,9244,6,3,79.967167,2.299716,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,203302.643146
8543,16090,6,3,77.847057,2.941437,1.0,12,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,221644.916098
8711,8601,6,3,80.968060,1.239622,1.0,6,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,217669.112875
9001,5913,90,3,44.418467,21.107737,8.0,10,15,1973,0.265089,B,B,37,5288,0,1937.0,3,2,B,214431.006851
9828,13630,24,3,127.141143,4.811405,1.0,3,1,2017,0.111627,B,B,50,12238,8,1970.0,2,3,B,611250.912034
9954,583,27,3,84.250710,4.187885,1.0,15,1,2016,0.072158,B,B,2,629,1,900.0,0,0,A,236647.781363

In [144]:
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1931), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1931),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1960), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1960),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1962), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1962),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1964), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1964),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1969), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1969),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1973), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1973),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1975), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1975),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1980), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1980),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2005), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2005),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2006), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2006),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [145]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### KitchenSquare: